body {
  background-color: aliceblue;
}

#container {
  display: flex;
  margin: 10px;
}

#input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-style: solid;
  padding: 10px;
  background-color: lightskyblue;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#characters-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: solid;
  padding: 10px;
}

.character {
  display: flex;
  flex: 1 0 300px;
  flex-direction: column;
  align-items: center;
  border: solid;
  margin: 10px;
  background-color: lightskyblue;
}

.button {
  margin: 10px;
}

#good-input {
  text-align: center;
}

#good-div {
  display: flex;
}

.flex-item {
  margin: 3px;
}
